:root {
  --text: #0F172A;
  --white: #fff;
  --soft-white: #f0f3f4;
  --soft-white2: #F8FAFC;
  --soft-blue: #e4ecfc;
  --border: #bbd1fa;
  --primary: #0052FF;
  --primary2: #346eebff;
  --muted: #2563EB;
  --dark: #0F172A;
  
  --soft-purple: #e4ecfc;
  --purple: #e4ecfc;
  
  --soft-green: #e4ecfc;
  --green: #e4ecfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
ul, ol {
  list-style: none;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  color: var(--dark);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/*Header*/
.header {
  width: 100%;
  background-color: #fff;
  padding-block: 16px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-wrapper {
  margin-right: 50px;
}
.logo {
  width: 200px;
}
.logo-text {
  font-weight: 800;
  font-size: 30px;
}
.logo-text span {
  color: var(--primary);
}

.nav-links {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1.5rem
}
.link a {
  padding: 5px 0;
}
.link a: hover {
  border-bottom: 1.6px solid var(--primary);
}
.link a.active {
  color: var(--primary);
  border-bottom: 1.6px solid var(--primary);
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.btn a {
  border: 1.5px solid var(--border);
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.btn.signup a {
  border: 1.5px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}
.btn.signup a:hover {
  opacity: 0.6;
}

/*Hero*/
.hero {
  /*background-color: var(--white);*/
  background-image: url("../images/hero3.png");
  background-size: cover;
  background-position: top 0px;
  background-repeat: no-repeat;
  position: relative;
  height: 280px;
}
.hero-content-wrapper {
  padding: 50px 0 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.hero-text-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text {
  color: var(--dark);
}
.hero-image {
  display: none;
}

.heading {
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark);
}
.heading strong {
  color: var(--primary);
}

/*hero form*/
.hero-form {
  border-radius: 50px;
  background-color: #fff;
  padding: 0.2rem 0.3rem 0.2rem 0.2rem;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.hero-form .icon {
  width: 50px;
}
.hero-form input {
  background-color: transparent;
  font-size: 1rem;
  width: 100%;
  outline: none;
  border: none;
}
.hero-form .btn-search {
  border: 1.5px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}
.hero-form .btn-search:hover {
  opacity: 0.6;
}

/*Icons*/
.icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}
.icon-div {
  width: 140px;
  height: 70px;
  background-color: var(--soft-white);
  border-radius: 1rem;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-div img {
  width: 30px;
}
.icon-div .icon-graduate {
  width: 30px;
}
.icon-div h3 {
  font-weight: 800;
  text-align: center;
  font-size: 0.8rem;
  width: 90%;
}

/*Opportunities*/
.opportunities-section {
  
}
.opportunities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}
.opportunity {
  position: relative;
  border: 1.2px solid var(--border);
  border-radius: 0.6rem;
  padding: 1rem 1rem 1.5rem 1rem;
}
.opportunity-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.company-icon {
  width: 150px;
  height: 40px;
  aspect-ratio: 1;
  object-fit: cover;
}
.opportunity-type {
  border-radius: 100vmax;
  font-weight: 0.9rem;
  font-size: 0.9rem;
  text-align: center;
  padding: 5px 5px;
  font-weight: 600;
  width: 100px;
}
.opportunity-type.internship, .opportunity-type.job {
  background-color: var(--soft-blue);
  color: var(--primary);
}
.opportunity-type.graduate {
  background-color: var(--soft-purple);
  color: var(--purple);
}
.opportunity-type.bursary {
  background-color: var(--soft-white);
  color: var(--dark);
}
.opportunity-type.scholarship {
  background-color: var(--soft-green);
  color: var(--green);
}
.opportunity-type.learnership {
  background-color: var(--soft-green);
  color: var(--green);
}
.opportunity-title {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.6rem;
  width: 90%;
}

.opportunity-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.opportunity-info div {
  display: flex;
  align-items: center;
  gap: 0.5rem
}
.opportunity-info p {
  font-weight: 600;
  color: var(--dark);
  opacity: 0.8;
  font-size: 0.9rem;
}
.opportunity-info img {
  width: 15px;
}
.closing-date {
  margin-top: 0.5rem;
}
.company-location-type p span{
  margin-left: 0.3rem;
}
.closing-date p span{
  margin-left: 0.3rem;
}

.arrow-btn {
  margin: 0.2rem 0;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-color: var(--primary2);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*justify-self: flex-end;*/
}
.arrow-btn img {
  width: 20px;
}

/*Featured Opportunities*/
.featured-section {
  padding: 1rem 0;
}
.heading2-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.heading2 {
  font-weight: 700;
  font-size: 1.3rem;
}
.view-all-btn {
  color: var(--primary);
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.1rem 0;
  border-bottom: 1.5px solid var(--primary);
}
.featured-opportunities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

/*OPPORTUNITIES PAGE*/
.opportunities-layout {
  padding: 30px 0;
}
/*search form*/
.search-form {
  border: 2px solid var(--border);
  border-radius: 50px;
  background-color: #fff;
  padding: 0.2rem 0.3rem;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 600px;
}
.search-form .icon {
  width: 50px;
}
.search-form input {
  background-color: transparent;
  font-size: 1rem;
  width: 100%;
  outline: none;
  border: none;
}
.search-form .btn-search {
  border: 1.5px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}
.search-form .btn-search:hover {
  opacity: 0.6;
}

/*opportunities chips*/
.opportunities-chips {
  margin-bottom: 30px;
}
.opportunities-chips {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chip {
  display: inline-block;
  font-size: 0.9rem;
  background-color: var(--white);
  border-radius: 100vmax;
  outline: none;
  border: 2px solid var(--border);
  padding: 0.2rem 0.5rem;
}
.chip.selected {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  border-radius: 100vmax;
  padding: 0.2rem 0.5rem;
}
.chip.graduate {
  white-space: nowrap;
}